/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    color: #333; /* Default text color for light mode */
}

h1 {
    text-align: center;
}

.todo-list {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: #333; /* Default text color for light mode */
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    margin-top: 10px    ;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul.tasks {
    list-style-type: none;
    padding: 0;
}

ul.tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

ul.tasks li .line-through span {
    text-decoration: line-through;
    color: #888;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #eaeaea; /* White text for dark mode */
}

.todo-list.dark-mode {
    background-color: #333;
    color: #eaeaea; /* White text for dark mode */
}

input[type="text"].dark-mode {
    background-color: #555;
    color: #eaeaea; /* White text for dark mode */
    border-color: #777;
}

button.dark-mode {
    background-color: #555;
    color: #fff;
}

/* Theme toggle buttons */
.theme-toggle {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.darkBtn, .lightBtn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

.darkBtn {
    display: inline;
}

.lightBtn {
    display: none;
}

/* Light Mode Styles */
body:not(.dark-mode) {
    background-color: #fff;
    color: #333; /* Black text for light mode */
}

.todo-list:not(.dark-mode) {
    background-color: #f4f4f4;
    color: #333; /* Black text for light mode */
}

input[type="text"]:not(.dark-mode) {
    background-color: #fff;
    color: #333; /* Black text for light mode */
    border-color: #ccc;
}

.form-dark {
    background-color: #a48f8f !important;
}